.login-page
{
    background-color: midnightblue;
    height: 360px;
    width: 400px;
    padding: 31px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    color: aliceblue;
}

.login-page h2
{
    background-color: dimgrey;
    color: palegreen;
}

.panel-heading
{
    background-color: black;
    width: 400px;
    margin: auto;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    position: fixed;
    color: lightslategrey;
    height: 400px;
    font-family: fantasy;
    text-align: center;

}

.login-app-page
{
    background-image: url("../images/tech.jpg");
    background-repeat: round;
    background-size: contain;
    height: 100%;
    width: 100%;
}